<!-- footer sec of the side -->
<footer class="copyRight">
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">
            <nav class="col-12 col-sm-12 col-md-4 footLinks">
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                </ul>
            </nav>
            <div class="col-12 col-sm-6 col-md-4 copy text-center">
                <p>&copy; 2020 Eclectics International Ltd</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 headertopright">
                <a class="googleicon" title="Google" href="#"><i class="fab fa-instagram"></i> <span
                        class="mobiletext02">Instagram</span></a>
                <a class="linkedinicon" title="Linkedin" href="#"><i class="fab fa-youtube"></i> <span
                        class="mobiletext02">Youtube</span></a>
                <a class="twittericon" title="Twitter" href="#"><i class="fab fa-twitter"></i> <span
                        class="mobiletext02">Twitter</span></a>
                <a class="facebookicon" title="Facebook" href="#"><i class="fab fa-facebook-f"></i> <span
                        class="mobiletext02">Facebook</span></a>
            </div>
        </div>
    </div>
</footer>