<header class="myNav">
    <!-- Mobile Header -->
    <div class="wsmobileheader clearfix ">
        <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
        <span class="smllogo"><img src="./assets/img/logo.png" width="135" alt="" /></span>
        <a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i></a>
    </div>
    <!-- Mobile Header -->
    
    <div class="headtoppart clearfix">
        <div class="headerwp clearfix">
            <div class="headertopleft text-center">
                <div class="address clearfix">
                    <a href=""><i class="fas fa-phone"></i> +254-724-355-185</a>
                    <span>
                        <i class="fas fa-comments"></i> talktous@church247.co.ke
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="wsmainfull clearfix">
        <div class="wsmainwp clearfix">
            <div class="desktoplogo"><a class="page-scroll" href="#pageTop"><img src="./assets/img/logo.png" alt="" class="img-fluid"></a></div>
            <!--Main Menu HTML Code-->
            <nav class="wsmenu clearfix">
                <ul class="wsmenu-list d-lg-flex justify-content-between">
                    <li aria-haspopup="true"><a class="page-scroll" href="#howTo">How to</a></li>
                    <span class="menuSep"></span>
                    <li aria-haspopup="true"><a class="page-scroll" href="#download">Download</a></li>
                    <span class="menuSep"></span>
                    <li aria-haspopup="true"><a class="page-scroll" href="#features">Features</a></li>
                    <span class="menuSep"></span>
                    <li aria-haspopup="true"><a target="_blank" href="#">Church Login</a></li>
                    <li aria-haspopup="true"><a target="_blank" href="#" class="active">Church Sign up</a></li>
                </ul>
            </nav>
            <!--Menu HTML Code-->
        </div>
    </div>
</header>
<section class="banner">
    <div class="container">
        <h1>Church247 - Connecting your church community</h1>
        <p><span>Congregants:</span> Watch live sermons,past sermons,make prayer request, book service seat, book event,access church content &
        resources and give for offering,tithe,donation and projects.
</p>
        <p><span>The church:</span> Create & manage Members, Ministries, Givings, Donations, Projects, Content, eShop & Resources for your congregants
        in our robust,user
        friendly Church Administrative Web Portal.</p>
        <div class="row d-flex justify-content-between  bannerBtns">
            <div class="col-12 col-sm-5 btn-group">
                <a target="_blank" href="" class="btn storeBtn"><img class="img-fluid" src="./assets/img/googleplay.png" alt="" srcset=""></a>
                <a target="_blank" href="" class="btn storeBtn"><img class="img-fluid" src="./assets/img/appstore.png" alt="" srcset=""></a>
            </div>
            <!-- <div class="col-12 col-sm-7 banHold">
                <a target="_blank" href="" class="btn btn-outline-light btnBan">SIGN UP FOR CHURCHES</a>
            </div> -->
        </div>
    </div>
</section>