<!-- main page -->
<main id="pageTop">
<app-navbar></app-navbar>
<section class="howTo bodySects" id="howTo">
    <div class="container">
        <div class="row">
            <div class="col-12 sectHeading">
                <h1>How to</h1>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 howOut">
                <div class="howInn text-center">
                        <div class="howInnTop text-center">
                            1
                        </div>
                        <p>Download & install church247
                        from google playstore & Apple
                        App store.</p>
                        <img src="./assets/img/howone.png" alt="">
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 howOut">
                <div class="howInn text-center">
                    <div class="howInnTop text-center">
                        2
                    </div>
                    <p>Sign up easily with basic
                    information.</p>
                    <img src="./assets/img/howtwo.png" alt="">
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 howOut">
                <div class="howInn text-center">
                    <div class="howInnTop text-center">
                        3
                    </div>
                    <p>Select you church & assembly
                    campus.</p>
                    <img src="./assets/img/howthree.png" alt="">
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 howOut">
                <div class="howInn text-center">
                    <div class="howInnTop text-center">
                        4
                    </div>
                    <p>Watch live services,sermons
                    and engage and connect with
                    your church community.</p>
                    <img src="./assets/img/howfour.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features" id="features">
    <div class="container">
        <div class="row d-flex flex-md-row-reverse">
            <div class="col-12 col-sm-12 col-md-9 featconts">
                <div class="row">
                    <div class="col-12 sectHeadingTwo">
                        <h1>Features</h1>
                        <div class="underFeat"></div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 featCont">
                                <div class="howInnTop text-center">
                                    <i class="fas fa-check"></i>
                                </div>
                                <p>Watch live sermons & past
                                sermons on the go</p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 featCont">
                                <div class="howInnTop text-center">
                                    <i class="fas fa-check"></i>
                                </div>
                                <p>Book church service seat online</p>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 featCont">
                                <div class="howInnTop text-center">
                                    <i class="fas fa-check"></i>
                                </div>
                                <p>Make prayer request & book
                                counselling session.</p>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 featCont">
                                <div class="howInnTop text-center">
                                    <i class="fas fa-check"></i>
                                </div>
                                <p>Engage with your church ministry
                                in the app e.g men, ladies, music, youth & teens.</p>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 featCont">
                                <div class="howInnTop text-center">
                                    <i class="fas fa-check"></i>
                                </div>
                                <p>Give for offering, tithe, donations
                                project, via mobile money and cards</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 featimg text-center">
                <img class="img-fluid" src="./assets/img/features.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="download" id="download">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1><span>Download now</span>…and start connecting with your church community</h1>
                <h3>Download our App on:</h3>
                <div class="btn-group">
                    <a href="#" target="_blank" class="btn storeBtn"><img src="./assets/img/googleplay.png" alt=""></a>
                    <a href="#" target="_blank" class="btn storeBtn"><img src="./assets/img/appstore.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
</main>